{
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 75,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
